@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@500&display=swap');

body {
  margin: 0;
  margin-right: auto;
  font-family: 'Noto Serif HK', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


h1 {
  text-align: center;
  font-size: 60px;
}

@media screen and (max-width: 880px) {}