

.EditorialBorad{
    justify-items: center;
    background-color: #162123;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 50px;
    padding-left: auto;
    padding-right: auto;
}