.AboutComponentWrapper {
    background-color: #d0d9db;
    color: #162123;
    padding: 40px;
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
    text-align: justify;
}


hr {
    color: #162123;
    margin: 50px;
    border-top: 3px solid #162123;
}


@media all and (max-width: 768px) {
    .AboutComponentWrapper{
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* 
@media only screen and (max-width: 1327px) {
    .AboutComponentWrapper{
        padding-left: 100px;
        padding-right: 100px;
    } 

}
*/