.ContactUsWrapper {
    background-color: #162123;
    padding: 60px;
}

.ContactUsInnerWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #d0d9db;
    border-radius: 20px;
    padding: 35px;
}


.ContactUsContactInfo {
    padding: auto;
    /* padding-left: 30%; */
    color: #d0d9db;
}


.ContactUsContactInfo table, tr, td {
    /* padding: 20px; */
    color: #d0d9db;
    width: auto;
    font-size: 26px;
    /* justify-content: center; */
    /* text-align: left; */
    /* display: inline-block; */
    vertical-align: auto;

    /* border: 2px solid #d0d9db;
    border-collapse: collapse;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 30px; */
    /* box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 red; */
}


a {
    text-decoration: none;
    color: #d0d9db;
}


@media all and (max-width: 1184px) {
    .ContactUsWrapper {
        background-color: #162123;
        padding: 10px;
    }

    .ContactUsInnerWrapper {
        display: block;
        border: 2px solid #d0d9db;
        border-radius: 20px;
        padding: 35px;
    }

    .ContactUsContactInfo {
        padding: 0px;
        padding-left: 0;
        color: #d0d9db;
    }

    iframe {
        width: 100%;
    }

    .ContactUsContactInfo table,  tr, td {
        width: auto;
        font-size: 14px;
        border-radius: 30px;
        justify-content: center;
        /* box-shadow: 0 4px 8px 0 red, 0 6px 20px 0 red; */
    }


}