/* * {
    border: 0.5px solid red;
} */

.main_menu {
    display: unset;
}

.inner_main_menu {
    margin: 0 auto;
    width: auto;
    text-align: center;
    justify-content: center;
}

.inner_main_menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
    padding-left: 200px;
    padding-right: 200px;
}

.inner_main_menu ul li {
    float: none;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;

    width: 200px;
    justify-content: center;

    vertical-align: middle;
}

.inner_main_menu ul li:nth-child(1) {
    float: left;
    padding-top: 20px;
}

.inner_main_menu ul li:nth-child(2) {
    float: left;
    padding-top: 20px;
}

.inner_main_menu ul li:nth-child(3) {
    float: center;
}

.LaguageDiv{
    color: #d0d9db;
    font-weight: bold;
    font-size: 1.5vw;

    padding-right: 10px;
    position: absolute;
    top: 65px;
    right: 0;
}


@media screen and (max-width: 880px) {
    .main_menu {
        display: unset;
    }

    .inner_main_menu ul {
        margin: 0px;
        padding: 0px;
        list-style: center;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .inner_main_menu ul li {
        float: none;
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;

        width: 200px;
        justify-content: center;
        vertical-align: middle;
    }

    .inner_main_menu ul li:nth-child(1) {
        float: none;
        padding-top: 0px;
    }
    
    .inner_main_menu ul li:nth-child(2) {
        float: none;
        padding-top: 0px;
    }
 
    .LaguageDiv{
        font-size: 7vw;
        top: 10px;
    }
}