

.ArchiveComponentCards{
    display: grid;
    padding: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border: 2px solid #162123;
    border-radius: 15px;
}


.ArchiveComponentCard{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}


.ArchiveComponentDiv{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}