.EditorialBoard {
    justify-items: center;
    background-color: #162123;
    padding: 50px;
    padding-left: auto;
    padding-right: auto;
}

.EditorialBoardCards {
    padding: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    width: 60%;
}


button:hover{
    background: #ffffff;
}


@media all and (max-width: 880px) {

    .EditorialBoardCards{
        display: block;
        padding: 0px;
    }

    .EditorialBoard{
        padding: 0px;
        align-items: center;
        text-align: center;
    }
    
    .EditorialBoardCard{
        padding-top: 20px;
    }
}