.EditorialBoardWrapper {
    background-color: #d0d9db;
    padding: 10px;
    color: #162123;
}

.EditorialBoard {
    justify-items: center;
    padding: 50px;
    padding-left: auto;
    padding-right: auto;
}

.EditorialBoardCards {
    padding: 0px 200px 0px 200px;
    
    /* padding-left: 200px; */
    /* padding-right: 200px; */
    gap: 4.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /* columns: 4; */
    /* gap: 100px; */
    /* margin: 30px; */

}

button:hover {
    background: #ffffff;
}


/* CardMedia */
.EditorialBoardCardArticle {
    background-color: #162123;
    color: #d0d9db;
    width: 100%;
    height: 55vh;
    text-align: center;
    border: 19px solid #162123;
    border-radius: 15px;

}

/* h1{
    color: #162123
} */

.EditorialBoardCardArticle:hover {
    background-color: #162123f3;
    border-radius: 23px;
    transition: 0.3s;
}

@media all and (max-width: 880px) {

    .EditorialBoardCards {
        display: block;
        padding: 0px;
    }

    .EditorialBoard {
        padding: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .EditorialBoardCard {
        padding-top: 20px;
    }

    .EditorialBoardCardArticle {
        margin-bottom: 20px;
        border: 10px solid #162123;
        height: auto;
    }
}